<?php
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the Academic Free License (AFL 3.0)
  * You can check the licence at this URL: http://cedcommerce.com/license-agreement.txt
  * It is also available through the world-wide-web at this URL:
  * http://opensource.org/licenses/afl-3.0.php
  *
  * @category    Ced
  * @package     Ced_Jet
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  */
?>

<div class="entry-edit" id="support_kb">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Cedcommerce Support</h4>
		</div>
		<div class="fieldset">
			<a target="_blank" href="http://support.cedcommerce.com/kb/faq.php?cid=9">Jet Integration Knowledge base</a>	
        </div>
		   
</div>
<div class="entry-edit" id="support_kb">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Documentation</h4>
		</div>
		<div class="fieldset">
			<a target="_blank" href="http://cedcommerce.com/cedgen/index/download/?file=jet/jet-magento-integration.0.3.1.pdf">Jet Integration Extension User  Guide</a>	
        </div>	    
            
</div>

<div class="entry-edit" id="integration_video">

        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Integration Video from Jet.com</h4>
		</div>
		<div class="fieldset">
			<ul>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://youtu.be/sFOhhX0iAOw">Integration Process Introduction of Jet.com</a>	
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://youtu.be/e0jg73m1L_I">API Overview</a>	
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://youtu.be/aKEF2kBNs6A">Merchant Basic Information Setup at Partner Portal</a>
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://youtu.be/MVHCjB7jhww">Products API call test</a>
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
						<a target="_blank" href="https://youtu.be/4UsuZux4vug">Products Overview</a>	
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://youtu.be/MVHCjB7jhww">Products API call test</a>	
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://youtu.be/q1rW7wFzBAg">Orders Setup</a>	
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://youtu.be/7ZUjRQLTxUw">Returns Setup </a>	
				</li>
				<li style="margin-bottom:10px;margin-top:10px;">
					<a target="_blank" href="https://developer.jet.com/v1.0/page/integration-videos	">Integration Videos </a>	
				</li>
			</ul>
		</div>	
		
</div>